* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk';
    position: relative;
}

main {
    max-width: 650px;
    display: flex;
    box-shadow: 0px 20px 40px hsla(234, 85%, 45%, 12%);
    border-radius: 30px;
}

.left {
    width: 325px;
    background: linear-gradient(180deg, hsla(241, 81%, 54%, 80%), hsl(241, 81%, 54%));
    border-radius: 30px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 45px
}

.left-tittle {
    letter-spacing: 1px;
    font-size: 1.20rem;
    color: hsla(0, 0%, 100%, 75%);
    font-weight: 500;
    padding: 0px 60px;
    margin-top: 30px;
}

.left-circle {
    margin-top: 32px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 176px;
    height: 175px;
    border-radius: 50%;
    line-height: 1.1;
}

.left-circle-big {
    margin-top: 13px;
    font-size: 3.9rem;
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.left-circle-small {
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 40%);
    margin-bottom: 5px;
}

.left-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-description-great {
    margin-top: 26px;
    font-size: 1.8rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.left-description-desc {
    margin-top: 11px;
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 60%);
    text-align: center;
}

.right {
    width: 325px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
}

.right-container{
    padding: 36px 35px 43px 35px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 100%;
}

.right-tittle {
    font-size: 1.3rem;
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}

.right-status {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px;
}

.status-name {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.status-name span {
    margin-left: 10px;
}

.status img {
    width: 18px;
}

.icon{
    display: flex;
    align-items: center;
}

.status-number {
    color: black;
    font-weight: 700;
}

.grey {
    margin-left: 4px;
    color: grey;
    font-weight: 500;
}

.pink {
    background-color: hsla(0, 100%, 67%, 5%);
    color: hsl(0, 100%, 67%);
}

.yellow {
    background-color: hsla(39, 100%, 56%, 5%);
    color: hsl(39, 100%, 56%);
}

.green {
    background-color: hsla(166, 100%, 37%, 5%);
    color: hsl(166, 100%, 37%);
}

.blue {
    background-color: hsla(234, 85%, 45%, 5%);
    color: hsl(234, 85%, 45%);
}

.buttom {
    margin-top: 20px;
    margin-bottom: 3px;
    align-self: center;
    width: 100%;
}

.buttom a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    display: block;
    padding: 14px 0px;
    justify-content: center;
    align-items: center;
    background-color: hsl(224, 30%, 27%);
    border-radius: 25px;
    text-align: center;
    font-weight: 500;
}

.attribution {
    position: absolute;
    bottom: 0px;
    right: 0px;
}